<?xml version="1.0"?>
<config>
      <modules>
        <Gharpay_Pushnotification>
          <version>0.1.0</version>
        </Gharpay_Pushnotification>
      </modules>
	  <frontend>
      <routers>
        <pushnotification>
          <use>standard</use>
         <args>
           <module>Gharpay_Pushnotification</module>
           <frontName>pushnotification</frontName>
         </args>
        </pushnotification>
      </routers>
	  <layout>
          <updates>
              <pushnotification>
                  <file>pushnotification.xml</file>
              </pushnotification>
          </updates>
      </layout>
    </frontend>
   <global>
       <models>
           <pushnotification>
               <class>Gharpay_Pushnotification_Model</class>
           </pushnotification>
       </models>
      <resources>
        <pushnotification_setup>
            <setup>
                <module>Gharpay_Pushnotification</module>
                <class>Mage_Sales_Model_Mysql4_Setup</class>
            </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
        </pushnotification_setup>
        <pushnotification_write>
                <connection>
                    <use>core_write</use>
                </connection>
        </pushnotification_write>
        <pushnotification_read>
                <connection>
                    <use>core_read</use>
                </connection>
        </pushnotification_read>		
      </resources>
      <helpers>
       <pushnotification>
           <class>Gharpay_Pushnotification_Helper</class>
       </pushnotification>
      </helpers>   

	  <blocks><pushnotification><class>Gharpay_Pushnotification_Block</class></pushnotification></blocks>
   </global> 
   <adminhtml>
        <layout>
             <!-- layout upgrade configuration -->
            <updates>
                <gharpay_ordersgrid>
                    <file>gharpay/ordersgrid.xml</file>
                </gharpay_ordersgrid>
            </updates>
        </layout>
    </adminhtml>

</config> 