<?xml version="1.0"?>
<config>
      <modules>
        <Gharpay_Gpcashpayment>
          <version>0.1.0</version>
        </Gharpay_Gpcashpayment>
      </modules>  
   <global>

      <models>
            <gpcashpayment>
                <class>Gharpay_Gpcashpayment_Model</class>
            </gpcashpayment>    
        </models>   
      <helpers>
       <gpcashpayment>
           <class>Gharpay_Gpcashpayment_Helper</class>
       </gpcashpayment>
      </helpers> 
      
      <events>
            <order_cancel_before>
                <observers>
                    <gharpay_gpcashpayment>
                        <type>singleton</type>
                        <class>gpcashpayment/observer</class>
                        <method>gharpayCancelOrder</method>
                    </gharpay_gpcashpayment>    
                </observers>
            </order_cancel_before>
       </events>
          	  
   </global> 
   <!-- declare default configuration values for this module -->

    <default>
        <payment>
            <gpcashpayment>
                <active>1</active>
                <model>gpcashpayment/gpcreateorder</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <title>Gharpay Cash Payment</title>
                <gharpay_uri>services.gharpay.in</gharpay_uri>
            </gpcashpayment>
         </payment>
    </default>

</config> 